<?xml version="1.0"?>
<config>
    <modules>
        <Dtn_ServiceProduct>
            <version>1.0.0</version>
        </Dtn_ServiceProduct>
    </modules>
    <global>
        <models>
            <service_product>
                <class>Dtn_ServiceProduct_Model</class>
            </service_product>
            <catalog>
                <rewrite>
                    <product>Dtn_ServiceProduct_Model_Product</product>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <quote_address_total_subtotal>Dtn_ServiceProduct_Model_Sales_Quote_Address_Total_Subtotal</quote_address_total_subtotal>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <service_product>
                <class>Dtn_ServiceProduct_Helper</class>
            </service_product>
        </helpers>
        <catalog>
            <product>
                <type>
                    <service translate="label" module="catalog">
                        <label>Service Product</label>
                        <model>service_product/product_type</model>
                        <price_model>service_product/product_price</price_model>
                        <composite>0</composite>
                        <index_priority>25</index_priority>
                    </service>
                </type>
            </product>
        </catalog>
        <resources>
            <service_product_setup>
                <setup>
                    <module>Dtn_ServiceProduct</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </service_product_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <service_product>
                    <file>service_product.xml</file>
                </service_product>
            </updates>
        </layout>
        <events>
            <sales_quote_item_qty_set_after>
                <observers>
                    <service_product>
                        <class>service_product/observer</class>
                        <method>salesQuoteItemQtySetAfter</method>
                    </service_product>
                </observers>
            </sales_quote_item_qty_set_after>
            <sales_quote_add_item>
                <observers>
                    <service_product>
                        <class>service_product/observer</class>
                        <method>salesQuoteAddItem</method>
                    </service_product>
                </observers>
            </sales_quote_add_item>
        </events>
    </frontend>
</config>